@import "../node_modules/patternfly/dist/less/patternfly.less";
//@import (once) "../node_modules/patternfly/dist/less/dependencies/bootstrap/bootstrap.less";

@fa-font-path:      "../node_modules/patternfly/node_modules/font-awesome/fonts/";
@font-path:         "../node_modules/patternfly/dist/fonts";

//.container {
//  margin-left: 0 !important;
//  margin-right: 0 !important;
//  padding-left: 0 !important;
//  padding-right: 0 !important;
//}

//.container {
//  margin-left: 0;
//  margin-right: 0;
//  padding-left: 0;
//  padding-right: 0;
//}

.tooltip {
/*  visibility: visible;*/
  opacity: 1;
}
